<!-- Default launch file to control an AGV. -->
<launch>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ar_demo)/rosconsole.conf"/>

  <rosparam command="load" file="$(find ar_demo)/parameters/parameters.yaml" />

  <!-- Camera node using the camera in real time -->
  <!-- <node pkg="ar_demo" type="camera_node" name="camera_node" args="&#x002d;&#x002d;camera aca1920_150uc_21917526" respawn="false" required="true" output="screen" /> -->
  <!-- Camera node using a previously recorded video. The camera specification is required to pass the camera information to the receiver. -->
  <node pkg="ar_demo" type="camera_node" name="camera_node" args="&#x002d;&#x002d;camera aca1920_150uc_21917526 &#x002d;&#x002d;replay /media/sf_shared/test-camera.avi" respawn="false" required="true" output="screen" />

  <node pkg="ar_demo" type="camera_display_node" name="camera_display_node" args="&#x002d;&#x002d;camera aca1920_150uc_21917526 &#x002d;&#x002d;downsample 4" respawn="false" required="true" output="screen" />

</launch>
